# zramit service
[Unit]
Description=zramit service
Documentation=https://github.com/cmames/zramit
Requires=systemd-modules-load.service
Before=shutdown.target
#After=

[Service]
Type=oneshot
ExecStart=#PATH/zramit-script.sh start
ExecStop=#PATH/zramit-script.sh stop
RemainAfterExit=True

[Install]
WantedBy=sysinit.target
#RequiredBy=
