# override fractional calculations and specify a fixed swap size
# don't shoot yourself in the foot with this, or do
#_zram_fixedsize="2G"

# portion of real ram to use as zram swap (expression: "1/2", "0.5", etc)
_zram_fraction="1/2"

# compression algorithm to employ (lzo, lz4, zstd, lzo-rle)
_zram_algorithm="lz4"

# number of streams (threads) from compression
#_zram_streams="8"

# number of swaps (1 zram swap per core , number of cores)
#_zram_number="4"

# priority of swaps (32767 is highest priority)
# to manage different levels of swap
#_zram_priority="32767"

# expected compression ratio; this is a rough estimate
#_zram_compfactor="2.5"

# Note:
# set _zram_compfactor by hand if you use an algorithm other than lzo/lz4/zstd or if your
# use case produces drastically different compression results than my estimates
#
# defaults if otherwise unset:
#	lzo*|zstd)  _zram_compfactor="3"   ;;
#	lz4)        _zram_compfactor="2.5" ;;
#	*)          _zram_compfactor="2"   ;;
#
